@font-face {
    font-family: "din_condensedbold";
    src: url("din_condensed_bold-webfont.woff2") format('woff2'),
         url("din_condensed_bold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'din_condensedbold', sans-serif;
	text-transform: uppercase;

	margin: 0;
	padding: 0;
}

/*   MENU   */

#menu {
	position: fixed;
	font-size: 50pt;
	z-index: 1;
}

#menu_button {
	height: 60pt;
	position: fixed;
	left: 4.16667%;
	top: 8.33333%;

	font-size: 60pt;
	background: black;
	color: white;
	line-height: 110%;
	padding-right:8px;
	padding-left:8px;
}

	li#da_drop {
		width: 58.33333%;
		position: fixed;
		left: 16.66667%;
		top: 37.5%; /* 29.16667%; */
		z-index: 5;
	}

			.da_drop_content {
				display: none;
				position: fixed;
				left: 50%;
				font-size: 25pt;
			}

					li#cc {
						position: fixed;
						bottom: 50%;
					}
					li#js {
						position: fixed;
						bottom: 45.83333%;
					}
					li#mm {
						position: fixed;
						bottom: 41.66667%;
					}
					li#nt {
						position: fixed;
						bottom: 37.5%;
					}
					li#ob {
						position: fixed;
						bottom: 33.33333%;
					}
					li#p {
						position: fixed;
						bottom: 29.16667%;
					}
					li#pl {
						position: fixed;
						bottom: 25%;
					}
					li#ss {
						position: fixed;
						bottom: 20.83333%;
					}
					li#tr {
						position: fixed;
						bottom: 16.66667%;
					}

			#da_drop:hover .da_drop_content {
				display: block;
			}

	

	li#f_drop {
		width: 58.33333%;
		position: fixed;
		left: 16.66667%;
		top: 45.83333%; /* 37.5%; */
		z-index: 4;
	}

			.f_drop_content {
				display: none;
				position: fixed;
				left: 50%;
				font-size: 25pt;
				line-height: 100%;
			}

					li#bal {
						position: fixed;
						bottom: 41.66667%;
					}
					li#dol {
						position: fixed;
						bottom: 37.5%;
					}
					li#giv {
						position: fixed;
						bottom: 33.33333%;
					}
					li#guc {
						position: fixed;
						bottom: 29.16667%;
					}
					li#jus {
						position: fixed;
						bottom: 25%;
					}
					li#msg {
						position: fixed;
						bottom: 20.83333%;
					}
					li#ver {
						position: fixed;
						bottom: 16.66667%;
					}

			#f_drop:hover .f_drop_content {
				display: block;
			}

	
	li#film_drop {
		position: fixed;
		left: 16.66667%;
		top: 54.16667%; /* 45.83333%; */
		z-index: 3;
	}


	li#m_drop {
		width: 58.33333%;
		position: fixed;
		left: 16.66667%;
		top: 62.5%; /* 54.16667%; */
		z-index: 2;
	}

			.m_drop_content {
				display: none;
				position: fixed;
				left: 50%;
				font-size: 25pt;
				line-height: 100%;
			}

					li#al {
						position: fixed;
						bottom: 29.16667%;
					}
					li#ar {
						position: fixed;
						bottom: 25%;
					}
					li#co {
						position: fixed;
						bottom: 20.83333%;
					}
					li#so {
						position: fixed;
						bottom: 16.66667%;
					}
					li#vi {
						position: fixed;
						bottom: 12.5%;
					}

			#m_drop:hover .m_drop_content {
				display: block;
			}


	li#tv_drop {
		position: fixed;
		left: 16.66667%;
		top: 70.83333%; /* 62.5%; */
	}

/*   END OF MENU   */

#content {
	position: absolute;
	top: 0px;
	left: 75%;
}


a {
	text-decoration: none;
	color: #999999;
}

a:hover {
	color: black;
}

li { 
	list-style-type: none; 
}

img {
	width: 50%;
}