@font-face {
    font-family: "din_condensedbold";
    src: url("din_condensed_bold-webfont.woff2") format('woff2'),
         url("din_condensed_bold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	width: 100%
	height: 100%;
	list-style-type: none;
	font-family: 'din_condensedbold', sans-serif;
	text-transform: uppercase;
}

button {
		position: fixed;
		top: 8.33333%;


	    background-color: black;
	    border: none;
	    color: white;
	    padding: 8px;
	    text-align: center;
	    text-decoration: none;

	    left: 4.16667%;
	    height: 60pt;
	    font-size: 60pt;

	    line-height: 91%;
	    cursor: pointer;

	    z-index: 10001;
	}

div#white {
	position: fixed;
	background: white;
	height: 100%;
	width: 100%;
	opacity: .5;

	z-index: 11;
}

/*   MENU   */

div#menu {
	width: 100%;
	height: 100%;

	position: fixed;
	top: 16.66667%;

	z-index: 12;
}

	ul#menu {
		position: relative;
		left: 16.66667%;
		top: 12.02222%;

		padding: 0;
		margin: 0;

		font-size: 50pt;
		line-height: 50pt;
	}

		li#da_drop {
			position: relative;
			z-index: 5;
		}

				div.da_drop_content {
					position: absolute;
					display: none;
					top: 50px;
					left: 397.12px;

					font-size: 25pt;
					line-height: 25pt;

					z-index: 5;
				}

				li#da_drop:hover div.da_drop_content {
					display: block;
				}

		li#f_drop {
			position: relative;
			z-index: 4;
		}

				div.f_drop_content {
					position: absolute;
					display: none;
					top: 50px;
					left: 253.517px;

					font-size: 25pt;
					line-height: 25pt;

					z-index: 4;
				}

				li#f_drop:hover div.f_drop_content {
					display: block;
				}

		li#film_drop {
			position: relative;
			z-index: 3;
		}

		li#m_drop {
			position: relative;
			z-index: 2;
		}

				div.m_drop_content {
					position: absolute;
					display: none;
					top: 50px;
					left: 191.598px;

					font-size: 25pt;
					line-height: 25pt;

					z-index: 2;
				}
				li#m_drop:hover div.m_drop_content {
					display: block;
				}

		li#tv_drop {
			position: relative;
			z-index: 1;
		}

/*   END OF MENU   */

div#content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;

	z-index: 10;
}

	a {
		text-decoration: none;
		color: black;
	}

	a:hover {
		color: transparent;
		-webkit-text-stroke-width: .02em;
   		-webkit-text-stroke-color: black;
	}

	img {
		display: block;
		width: 31.249995%;
		padding-top: 12.5pt;
	}

		img.one, iframe.one {
			position: relative;
			left: 2.083335%;
		}
		img.five, iframe.five {
			position: relative;
			left: 18.2291662%;
		}
		img.three, iframe.three {
			position: relative;
			left: 34.3749975%;
		}
		img.two, iframe.two {
			position: relative;
			left: 50.5208338%;
		}
		img.four, iframe.four {
			position: relative;
			left: 66.66667%;
		}

	iframe {
		display: block;
	}
